body {
    background-color: #745a46;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #2c5047;
}

.my-btn {
    background-color: #206e98;
    color: rgb(159, 44, 92);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
    
.my-btn:hover {
    background-color: #415b76;
}